@media only screen and (max-device-width: 768px){
	
	*{
		box-sizing:border-box;
	}

	header button{
		height: 50px !important;
		width: 50px !important;
		margin: 5px;
		border: 3px solid #5ec031 !important;
		background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		margin-left: 5px;
	}
	
	nav.desktop{
		/*width: 100%; */
		display: none;
	}

	nav.mobile{
		width: 100vw;
		background: white;
		margin: 0;
		overflow: hidden;
		order: 100;
		display: initial;
		transition: 0.5s;
		height: 220px;
	}

	nav.mobile.hidden{
		height:0;
	}

	nav.mobile a{
		display: block;
		font-size: 1.3em;
		font-weight: bold;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #bdbdbd;
	}

	nav.mobile a:last-of-type{
		border-bottom: 0;
		padding-bottom: 0;
	}
	
	#logo{
		/*margin-right: 100%*/
		width: 60%;
		height: 50px;
		font-size: 0 !important;
		background-image: url(images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: auto;
	}
	
	#search_box{
		width: 50vw;
		height: 50px;
		margin: 5px;
		font-size: 15px;
		display: none;
	}

	#search{
		order: 2;
		width: fit-content;
		margin-left: auto;
		margin-right: unset;
		margin-top:0;
	}

	#search_button{
		background-size: 50% !important;
	}

	header{
		height: unset;
		min-height: unset;
		padding: 20px;
		background-color: white;
		border-bottom: 1px solid #bdbdbd;
	}
	#hamburger{
		order:3;
		display: block !important;
		background-image: url(images/hamburger.svg);
		background-size: 30% !important;
	}

	main, body, #logo{
		min-width:unset;
		font-family: Helvetica , sans-serif;
		color: #373a3c;
	}

	h1{
		font-size: 1.5em !important;
		font-weight: 900;
	}

	main section:first-of-type{
		background: #f3f3f5 !important;
	}
	main section:first-of-type *{
		color: #373a3c !important;
	}

	#about p{
		font-weight: normal;
		text-align:center
	}

	.only_visible_mobile{
		display: initial !important;
	}

	.windmills{
		display: flex !important;
		margin: 50px auto;
		align-items: baseline;
		justify-content: center;
	}

	.windmills img{
		width: auto !important;
		height: 40px !important;
	}

	.windmills img:nth-child(2){
		width: auto !important;
		height: 70px !important;
		margin: 0 -20px;
	}
}