@media only screen and (max-device-width: 768px){
	
	*{
		box-sizing:border-box;
	}

	header button{
		height: 120px !important;
		width: 120px !important;
		margin: 5px;
		border: 3px solid #5ec031 !important;
		background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		margin-left: 5px;
	}
	
	nav.desktop{
		/*width: 100%; */
		display: none;
	}

	nav.mobile{
		width: 100vw;
		/* position: absolute; */
		/* left: 0; */
		/* top: 200px; */
		background: white;
		margin: 0;
		height: 0;
		overflow: hidden;
	}

	nav.mobile a{
		display: block;
		font-size: 2em;
		font-weight: bold;
		width: 100%;
		margin: 1px;
	}
	
	#logo{
		/*margin-right: 100%*/
		width:60%;
		font-size: 0 !important;
		background-image: url(images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: auto;
	}
	
	#search input{
		width: 80%;
		height: 120px;
		margin: 5px;
		font-size: 30px;
		display: none;
	}

	#search{
		order: 2;
		width: fit-content;
		margin-left: unset;
		margin-right: 10px;
	}

	#search button{
		background-size: 50% !important;
	}

	header{
		min-height: 200px;
		height: unset;
		padding: 0 20px;
		background-color: white;
	}
	#hamburger{
		order:3;
		display: block !important;
		background-image: url(images/hamburger.svg);
		background-size: 30% !important;
	}

	main, body{
		min-width:unset;
	}
}