/*
	color scheme: #5580e9, #84ceeb, #5ab8eb, #c1c8e4, #885fd0;

	or : #F2F9DB #B5D737 #68B332 #357E9B #092935


*/
body{
	/*font-family: 'Fira Sans', sans-serif;/*/
	font-family: 'Yantramanav', sans-serif;

	color: #464646;
	margin: 0 auto;
	/* background-color: #F2F9DB; */
	overflow-x: hidden;
}

main{
		/* background-image: url(images/cover5.jpg); */
		background-size: cover;
		/* position: relative; */
		background-attachment: fixed;
		/* background: #357E9B; */
		/* background: #357e9b78; */
		/* background-position-y: 130px; */
		/* padding-top: 3em; */
		padding-bottom: 3em;
		position: relative;
}


h1,h2,h3,h4{
	margin: 0;

}

header{
	display: block;
	/* flex-direction: column; */
	/* margin-bottom: 3em; */
	background: #ffffff;
	border-bottom: 1px solid #f3f3f3;
}

header li{
	display: inline-block;
}

header a{
	text-decoration: none;
}


#cornellEmblem{
	width: auto;
	height: 2.3em;
}


#logo{
	padding-left: 0.5em;
	padding: 1em;
	/* display: inline-block; */
	width: fit-content;
	/* max-width: 900px; */
	/* margin: auto; */
	cursor: pointer;
	/* background: #F2F9DB; */
	color: #357E9B;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	float: left;
}

#small-logo{
	color:#357E9B;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	left: -300px;
	top: 10px;
	opacity: 1;
	transition: 0.1s;
	z-index: 2;
}

#search{
	float: right;
	width: fit-content;
	/* position: relative; */
	/* top: -50px; */
	/* margin-right: 20px; */
	margin: 30px;
	display: inline-flex;
}

#search input{
	height: 30px;
	width: 250px;
	padding: 5px 10px;
	font-size: 1em;
	font-family: inherit;
	margin: 0;
	/*border: 0;*/
	margin-right: 5px;
	outline: none;
}

#search button{
	background-image: url('images/search.png');
	height: 43px;
	width: 40px;
	/* border: 1px solid red; */
	background-size: initial;
	background-repeat: no-repeat;
	border: 0;
	background-color: #357E9B;
	background-position-y: center;
	background-position-x: center;
	padding: 10px;
	cursor: pointer;
	outline: none;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    /* margin: 0.5em 0 0 0; */
    /* margin: 0.5em auto; */
    border-top: 1px solid #68B332;
    /* border-bottom: 1px solid #2ECC40; */
    /* position: fixed; */
    z-index: 1;
    transition: 1s;
}

.nav--link{
	padding: 1em;
	cursor: pointer;
	font-weight: bolder;
	color: #092935;
	background: inherit;
	text-decoration: none;
}

.nav--link:hover{
	/* color: #f7f7f7; */
	background: #68B332;
	/* border: 1px solid #357E9B; */
}

.dropdown{
	display: none;
	position: absolute;
	background-color: inherit;
	width: 100%;
	left: 0;
	text-align: center;
	z-index: 100;
	color: #092935;
}

.dropdown:hover{
	display:none ;
	position: absolute;
}
.nav--link#home{
	position: relative;
}

.nav--link#home:hover .dropdown{
	display:block;
}


.dropdown a{
    float: none;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin-top: 10px;
}

.dropdown a:hover{
    color: #F2F9DB;
}

.background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
}

#about .background{/*    background-image: url(images/cover5.jpg);
*/background-size: cover;z-index: -1;background-position-y: -40px;opacity: 0.9;background: #357e9b78;}

#about{
	/* color: #092935; */
	position: relative;
	min-height: 400px;
	/* background-image: url(images/cover5.jpg); */
	background-size: cover;
	background: transparent;
	margin-bottom: 0;
}

.bg{
	background-image: url(images/cover5n.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(3px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	/* transform: scale(.99); */
	z-index: -1;
}

.cnt{
	/* position: absolute; */
	top: 0;
	left: 0;
	/* background: #357e9b78; */
	/* height: 100%; */
}

#about .imgWrapper{
    width: 200px;
    height: 250px;
    float: right;
    display: block;
    margin: 0 0 1em 1em;
    object-fit: contain;
}

#about img{
	width: auto;
	height: 100%;
}


#about .content{
	margin: auto;
	margin-top: 5%;
	/* padding: 1em; */
	/* overflow: auto; */
	font-weight: bolder;
	/* background: #12239a59; */
}

#gallery{
	background-color: #f7f7f7;
	color:  #092935;
}

#slideshow img{
	width: 70%;
	min-width: 300px;
	height: auto;
	display: block;
	margin: 1em auto;
}



section{
	padding: 1em 2em;
	/* max-width: 900px; */
	margin: auto;
	text-align: justify;
	object-fit: contain;
	/* border-radius: 0.5%; */
	position: relative;
	margin-bottom: 200px;
	/* padding-top: 3em; */
	color: #F2F9DB;
	font-size: larger;
	background: #ffffff;
}

section h3{
	color: #B5D737;
}

#news{
	/* background: #607d8b8c; */
	color: #092935;
	height: 350px;
}

#news .background{
/*    background-image: url(images/cover3.jpg);
*/    background-size: cover;
    z-index: -1;
    background-position-y: -100px;
    opacity: 0.9;
}

#news h4 {
    color: #0084bb;
}

#news li{
	list-style: none;
}

#news .date{
	background: transparent;
}

.news-event{
	border-left: 2px solid #d0d0d0;
	padding left:;
	padding-left: 0.5em;
	background-color: white;
	width: 99%;
	padding-right: 0.5em;
}

.news-event p{
	margin-top:  0.5em;
}




#news .content{
	margin-top: 1em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	height: 300px;
	overflow: auto;
	width: 100%;
	float: left;
	background: #f3f3ff;
	border-left: 5px solid #68b332;
	overflow-x: hidden;
}

#tweets{
	background-color: #F2F9DB;
}


footer{
	text-align: center;
	background-color: #092935;
	padding: 1em 0;
	color: #F2F9DB;
	border-top: 1px solid #68B332;
	/* margin-top:20px; */
}

a{
	color: inherit;
}

.headshot{
	width: 200px;
	height:  200px;
	background-size: cover;
	float: left;
	margin-right: 1em;
	border-radius: 100%;
}

.bio{
	/* margin-top: 30px; */
	margin-bottom: 0px;
	padding: 1em 5em;
	color: #092935;
	min-height: 210px;
	position: static;
	border-bottom: 1px solid #e2e2e2;
}

.bio img{float: left;margin-right: 1em;/* margin-bottom: 1em; *//* border-radius: 100%; */}

.bio h3{
	color: #00849c;
	font-weight: normal;
}
.bio h4{
	font-weight: normal;
	color: #757575;
}