@import url("https://fonts.googleapis.com/css?family=Yantramanav");
/*@import url();*/
body{/*font-family: 'Fira Sans', sans-serif;/*/font-family: 'Yantramanav', sans-serif;min-width: 765px;color: #092935;margin: 0 auto;/* background-color: #F2F9DB; */overflow-x: hidden;/* min-height: 100%; */background-size: cover;background-attachment: fixed;background-image: url(images/cover8.jpg);min-width: 735px;/* overflow-x: scroll; */width: 1;}

main{
		background-size: cover;
		min-width: 750px;
		/* padding-top: 100px; */
		/* position: relative; */
		background-attachment: fixed;
		background-color: transparent;
		/* background: #357e9b78; */
		/* background-position-y: 130px; */
		/* padding-top: 3em; */
		padding-bottom: 3em;
		position: relative;
		font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4{
	margin: 0;
}

header{
	display: flex;
	flex-wrap: wrap;
	/* min-width: 750px; */
	/* margin-bottom: 3em; */
	background: #f1f1f1c7;
	/*border-bottom: 1px solid #f3f3f3;*/
	padding-top: 1px;
	/* position: absolute; */
	z-index: 1;
	width: 100%;
	min-height: 100px;
	/* margin-bottom: 100px; */
}

header li{
	/* display: inline-block; */
}

header a{
	text-decoration: none;
}


#cornellEmblem{
	width: auto;
	height: 2.3em;
}


#logo{
	padding-left: 0.5em;
	padding: 1em;
	width: fit-content;
	min-width: 350px;
	cursor: pointer;
	color: #357E9B;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
}

#small-logo{
	color:#357E9B;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	left: -300px;
	top: 10px;
	opacity: 1;
	transition: 0.1s;
	z-index: 2;
}

#search{
	/* float: right; */
	/* width: 100%; */
	/* position: absolute; */
	right: 0;
	/* top: -50px; */
	margin-right: 20px;
	margin-top: 30px;
	margin-left: auto;
	display: inline-flex;
	order:3;
}

#search input{
	height: 30px;
	width: 250px;
	padding: 5px 10px;
	font-size: 1em;
	font-family: inherit;
	margin: 0;
	/*border: 0;*/
	margin-right: 5px;
	outline: none;
}

#search button{
	background-image: url('images/search.png');
	height: 43px;
	width: 40px;
	/* border: 1px solid red; */
	background-size: initial;
	background-repeat: no-repeat;
	border: 0;
	background-color: hsla(105, 60%, 47%, 1);
	background-position-y: center;
	background-position-x: center;
	padding: 10px;
	cursor: pointer;
	outline: none;
}

nav{
    /* display: flex; */
    width: fit-content;
    justify-content: center;
    background: #e9f1f400;
    /* top: 28px; */
    /* position: relative; */
    margin-top: 30px;
    /* float: left; */
    /* margin: 0.5em 0 0 0; */
    /* margin: 0.5em auto; */
    /* border-top: 2px solid #68B332; */
    /* border-bottom: 1px solid #2ECC40; */
    /* position: fixed; */
    z-index: 1;
    order:2;
}




@media only screen and (max-width: 1260px){
	nav{
		margin: 0 auto;
		order:3;
	}
	#logo{
	}
	#search{
		order:2;
	}
}


.nav--link{
	padding: 0.7em;
	cursor: pointer;
	font-weight: bolder;
	color: #092935;
	background: inherit;
	text-decoration: none;
	font-size: large;
	display: inline-block;
}

.nav--link:hover{
	color: #64cd42;
	/* background: #68B332; */
	text'-webkit-border-horizontal-spacing:;;/* border: 1px solid #357E9B; */
}

#hamburger{
	display: none;
	overflow: hidden;
	margin-top: 35px;
	height: 72px;
}

#hamburger #toggle{

	border: 3px solid #5ec031;
	padding: 13px 0;
	cursor: pointer;
	outline: none;
	/*height: 50px;*/
	width: 66px;
}

#hamburger #toggle div{
	width: 40%;
	height: 4px;
	background-color: #0000007a;
	margin: 7px auto;
}

.hamburger_down{
	height: 220px;
    background: #ffffffde;
}

.hamburger_up{
	height: 45px;
	width: 72px;
	background: transparent;
}

#hamburger li {
    display: list-item;
    list-style: none;
    margin-bottom: 6px;
}

#hamburger a {
    padding: 0;

}

.dropdown{
	display: none;
	position: absolute;
	background-color: inherit;
	width: 100%;
	left: 0;
	text-align: center;
	z-index: 100;
	color: #092935;
}

.dropdown:hover{
	display:none ;
	position: absolute;
}
.nav--link#home{
	position: relative;
}

.nav--link#home:hover .dropdown{
	display:block;
}


.dropdown a{
    float: none;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin-top: 10px;
}

.dropdown a:hover{
    color: #F2F9DB;
}

.background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
}

#about .background{
  z-index: -1;
  background-position-y: -40px;
  opacity: 0.9;
  /* background: #357e9b78; */
}

#about{
	/* color: #092935; */
	position: relative;
	height: 700px;
	/* background-image: url(images/cover1.jpg); */
	background-size: cover;
	background: #00000052;
	padding: 0;
	margin-bottom: 0; 
}



.cnt{
	/* position: absolute; */
	top: 0;
	left: 0;
	/* background: #357e9b78; */
	/* height: 100%; */
}

#about .imgWrapper{
    width: 200px;
    height: 250px;
    float: right;
    display: block;
    margin: 0 0 1em 1em;
    object-fit: contain;
}

#about img{
	width: auto;
	height: 100%;
}


#about .content{
	margin: auto;
	width: 90%;
	margin-top: 5%;
	/* padding: 1em; */
	/* overflow: auto; */
	color: white;
	font-weight: bolder;
	/* background: #12239a59; */
}

#gallery{
	background-color: #f7f7f761;
	color:  #092935;
	/* margin-bottom: 100px; */
}

#slideshow img{
	width: auto;
	/*min-width: 300px;*/
	height: 400px;
	display: block;
	margin: 1em auto;
}

#slideshow{
	height: 500px;
	width: 90%;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	top: 10%;
	margin*t:;
}

#slideshow button{
	position: absolute; 
	top: 0;
	background: transparent;
	border: 0;
	height: 100%;
	width: 45px;
	cursor: pointer;
    font-size: 100px;
    color: #00000073;
    outline: none;
}

#slideshow button:hover{
    color: #0000008c;
}
#gallery_description{
	text-align: center;
	font-size: 13pt;
	font-style: italic;
	color: #292929;
	width: 100%;
	padding: 3px;
	position: relative;
	top: 10%;
}

#gallery_current{
	width: fit-content;
	display: flex;
	margin: auto;
	margin-top: 5px;
	position: relative;
	top: 10%;
}

.gallery_indicator{
	width: 10px;
	height: 10px;
	background-color: #efefef;
	border-radius: 10px;
	margin-left: 10px;
}

.gallery_indicator_current{
	background-color: #888888;
}


section{
	/* padding: 1em 0em; */
	/* max-width: 900px; */
	margin: auto;
	text-align: justify;
	object-fit: contain;
	/* border-radius: 0.5%; */
	position: relative;
	margin-bottom: 100px;
	/* padding-top: 3em; */
	color: #F2F9DB;
	font-size: larger;
	background: #ffffff;
}

section h3{
	color: #B5D737;
}

#news{
	background: #f7f7f7bf;
	color: #092935;
	height: 500px;
	padding: 1em;
}

#news .background{
/*    background-image: url(images/cover3.jpg);
*/    background-size: cover;
    z-index: -1;
    background-position-y: -100px;
    opacity: 0.9;
}

#news h4 {
    color: #0084bb;
}

#news li{
	list-style: none;
}

#news .date{
	background: transparent;
}

.news-event{
	border-left: 2px solid #d0d0d0;
	padding left:;
	padding-left: 0.5em;
	background-color: transparent;
	width: 90%;
	padding-right: 0.5em;
}

.news-event p{
	margin-top:  0.5em;
}




#news .content{
	margin-top: 1em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    height: 400px;
    overflow: auto;
    width: 100%;
    float: left;
    height: 80%;
    background: transparent;
    /* border-left: 5px solid #3185bb; */
    overflow-x: hidden;
}

#tweets{
	background-color: #F2F9DB;
}


footer{
	text-align: center;
	background-color: #ebebeb;
	padding: 1em 0;
	color: #092935;
	/* border-top: 1px solid #68B332; */
	/* margin-top:20px; */
}

a{
	color: inherit;
}

.headshot{
	width: 200px;
	height:  200px;
	background-size: cover;
	float: left;
	margin-right: 1em;
	border-radius: 100%;
}

.bio{
	/* margin-top: 30px; */
	margin-bottom: 0px;
	padding: 1em 5em;
	color: #092935;
	min-height: 210px;
	position: static;
	background: transparent;
	border-bottom: 1px solid #e2e2e2;
}

.bio img{float: left;margin-right: 1em;/* margin-bottom: 1em; *//* border-radius: 100%; */}

.bio h3{
	color: #00849c;
	font-weight: normal;
}
.bio h4{
	font-weight: normal;
	color: #757575;
}

.alumni{
	/* float: left; */
	padding: 1em;
	width: 200px;
	height: 250px;
	text-align: center;
}

.alumni h3{
	color: #00849c;
	font-weight: normal;
}


.paper{
	/* margin-top: 30px; */
	margin-bottom: 0px;
	padding: 1em 5em;
	color: #092935;
	/* min-height: 210px; */
	position: static;
	border-bottom: 1px solid #e2e2e2;
}

.paper h4{
	color: #0c525f;
	font-weight: normal;
	margin:  0;
}
.paper h5{
	font-weight: normal;
	color: #757575;
	margin: 0;
}

/*SEARCH*/

.headshot.result{
	width: 100px;
	height: 100px;
}

.bio.result{
	min-height: 100px;
}

.news-event.result{
	margin: 1em 6em;
}

@media only screen and (max-device-width: 768px){
	
	*{
		box-sizing:border-box;
	}

	header button{
		height: 120px !important;
		width: 120px !important;
		margin: 5px;
		border: 3px solid #5ec031 !important;
		background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		margin-left: 5px;
	}
	
	nav.desktop{
		/*width: 100%; */
		display: none;
	}

	nav.mobile{
		width: 100vw;
		/* position: absolute; */
		/* left: 0; */
		/* top: 200px; */
		background: white;
		margin: 0;
		height: 0;
		overflow: hidden;
	}

	nav.mobile a{
		display: block;
		font-size: 2em;
		font-weight: bold;
		width: 100%;
		margin: 1px;
	}
	
	#logo{
		/*margin-right: 100%*/
		width:60%;
		font-size: 0 !important;
		background-image: url(images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: auto;
	}
	
	#search input{
		width: 80%;
		height: 120px;
		margin: 5px;
		font-size: 30px;
		display: none;
	}

	#search{
		order: 2;
		width: fit-content;
		margin-left: unset;
		margin-right: 10px;
	}

	#search button{
		background-size: 50% !important;
	}

	header{
		min-height: 200px;
		height: unset;
		padding: 0 20px;
		background-color: white;
	}
	#hamburger{
		order:3;
		display: block !important;
		background-image: url(images/hamburger.svg);
		background-size: 30% !important;
	}

	main, body{
		min-width:unset;
	}
}
